.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 360px;
  height: auto;
  text-align: center;
  background-color: #96b8c5b3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.avatar {
  display: block;
  width: 360px;
}

.name {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.stats {
  padding: 15px 10px;
  width: 360px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: #d0e7f0c9;
  border-radius: 4px;
}

.statsItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  /* background-color: #58889bc9; */
}

.label {
  font-weight: 500;
  font-size: 20px;
}

.iconTextBox {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
